# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.env
.venv/
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# PyCharm project files
.idea/
*.iml
*.ipr

# VS Code project files
.vscode/

# Environments
.env
.env.*
.venv
venv/

# Logs
*.log

# Temporary files
*.temp
*.tmp
*.bak
*.swp
*.swo
*.orig
*.~lock.*

# MyPy
.mypy_cache/
.dmypy.json

# Bandit security scanner
.bandit

# Local settings
local_settings.py

# SQL dumps
*.sql
